{% extends 'base.html.twig' %}

{% block title %}Compte de {{app.user.firstName}}{% endblock %}

{% block body %}
<section class="section profile">
    <div class="row">
        <div class="col-xl-4">
            <div class="card">
                <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                    {# <img src="https://api.lorem.space/image/face?w=150&h=150" alt="Profile" class="rounded-circle"> #}
                    <img src="{{ vich_uploader_asset(userAccount, 'imageFile') }}" class="rounded-circle" alt=""> 
                    <h2>{{userAccount.fullName}}</h2>
                    <div class="social-links mt-2">
                        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div>
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
             {% for message in app.flashes('warning') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}
        </div>

        <div class="col-xl-8">
            <div class="card">
                <div class="card-body pt-3">
                    <!-- Bordered Tabs -->
                    <ul class="nav nav-tabs nav-tabs-bordered">

                        <li class="nav-item">
                        <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-info">Info profile</button>
                        </li>

                         <li class="nav-item">
                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Editer</button>
                        </li>

                        <li class="nav-item">
                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-restPassword">Modifier mon mot de passe</button>
                        </li>

                    </ul>

                    <div class="tab-content pt-2">
                        <div class="tab-pane fade show active profile-info" id="profile-info">
                            <h5 class="card-title">Profile Details</h5>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label ">Prénom</div>
                                <div class="col-lg-9 col-md-8">{{userAccount.firstName}}</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Nom</div>
                                <div class="col-lg-9 col-md-8">{{userAccount.lastName}}</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Adresse</div>
                                <div class="col-lg-9 col-md-8">{{userAccount.address}}</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">code postal</div>
                                <div class="col-lg-9 col-md-8">{{userAccount.zipCode}}</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Email</div>
                                <div class="col-lg-9 col-md-8">{{userAccount.email}}</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Téléphone</div>
                                <div class="col-lg-9 col-md-8">{{userAccount.phone}}</div>
                            </div>

                        </div>

                         <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                             {{form(formUserEdit)}}
                        </div>

                        <div class="tab-pane fade profile-restPassword pt-3" id="profile-restPassword">
                            {{form(formResetPassword)}}
                        </div>

                    </div><!-- End Bordered Tabs -->
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
