 {% extends 'base.html.twig' %}

{% block title 'clients' %}

 {% block body %}
 <main id="main" class="main">

    <div class="pagetitle">
      <h1>Liste des clients</h1>
      {# <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Pages</li>
          <li class="breadcrumb-item active">Blank</li>
        </ol>
      </nav> #}
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="">

          <div class="card">
            <div class="card-body">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom et Prénom</th>
                    <th scope="col">email</th>
                    <th scope="col">Téléphone</th>
                    <th scope="col">Adresse</th>
                  </tr>
                </thead>
                <tbody>
                  {% for customer in customers %}
                  <tr>
                    <th scope="row">{{ customer.id }}</th>
                    <td>
                      <a href="{{path('app_client_show', {'id': customer.id})}}">{{customer.firstName}} {{customer.lastName}} <a/>
                    </td>
                    <td>{{customer.email}}</td>
                    <td>{{customer.phone}}</td>
                    <td>{{customer.address}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
    </section>

    {% include "components/_pagination.html.twig" %}

  </main><!-- End #main -->
  {% endblock %}