{% extends 'base.html.twig' %}

{% block title %}Hello SoinController!{% endblock %}

{% block body %}
<!-- Recent Activity -->
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Listes des soins disponible</span></h5>
        <a href="{{path('app_soin_new')}}" class="btn btn-primary mb-3">Ajouter un soin</a>
        <table class="table">
            <thead>
                <tr>
                <th scope="col">Id</th>
                <th scope="col">Type de soin</th>
                <th scope="col">Edit</th>
                </tr>
            </thead>
            <tbody>
            {% for soin in soins %}
                <tr>
                <th scope="row">{{soin.id}}</th>
                <td>{{soin.name}}</td>
                <td>
                    <a href="{{path('app_soin_edit', {'id': soin.id})}}" class="btn btn-primary"><i class="bi bi-brush"></i></a>
                    <a href="{{path('app_soin_delete', {'id': soin.id})}}" class="btn btn-danger"><i class="bi bi-trash"></i></a>
                </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!-- End Recent Activity -->
{% endblock %}
