{% extends 'base.html.twig' %}

{% block title %}Edit Customers{% endblock %}

{% block body %}
    <main id="main" class="main">
    <h1>Editer le profil de {{customer.fullName}}</h1>

      <!-- Profile Edit Form -->
                  {{form_start(form)}}
                    <div class="row mb-3">
                      <label for="profileImage" class="col-md-4 col-lg-3 col-form-label"></label>
                      <div class="col-md-8 col-lg-9">
                        {# <img src="{{ vich_uploader_asset(customer) | imagine_filter('avatar') }}"  alt="Profile" class="rounded-circle"> #}
                            {{form_row(form.imageFile, {row_class: 'img-thumbnail'})}}
                        <div class="pt-2">
                          <a href="#" class="btn btn-primary btn-sm" title="Upload new profile image"><i class="bi bi-upload"></i></a>
                          <a href="#" class="btn btn-danger btn-sm" title="Remove my profile image"><i class="bi bi-trash"></i></a>
                        </div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Prénom</label>
                      <div class="col-md-8 col-lg-9">
                        {{form_row(form.firstName)}}
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Nom</label>
                      <div class="col-md-8 col-lg-9">
                        {{form_row(form.lastName)}}
                      </div>
                    </div>

                     <div class="row mb-3">
                      <label for="company" class="col-md-4 col-lg-3 col-form-label">Adresse</label>
                      <div class="col-md-8 col-lg-9">
                        {{form_row(form.address)}}
                      </div>
                    </div>

                     <div class="row mb-3">
                      <label for="Job" class="col-md-4 col-lg-3 col-form-label">Code postal</label>
                      <div class="col-md-8 col-lg-9">
                        {{form_row(form.zipCode)}}
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="about" class="col-md-4 col-lg-3 col-form-label">Téléphone</label>
                      <div class="col-md-8 col-lg-9">
                        {{form_row(form.phone)}}
                      </div>
                    </div>

                   
                    <div class="row mb-3">
                      <label for="Country" class="col-md-4 col-lg-3 col-form-label">Email</label>
                      <div class="col-md-8 col-lg-9">
                        {{form_row(form.email)}}
                      </div>
                    </div>

                    <div class="text-center">
                      {{form_row(form.submit)}}
                    </div>
                  {{form_end(form)}}

    {# {{ include('customers/_form.html.twig', {'button_label': 'Update'}) }} #}

    <a href="{{ path('app_customers_index') }}">back to list</a>

    {{ include('customers/_delete_form.html.twig') }}
    <main/>
{% endblock %}
