{% extends 'base.html.twig' %}

{% block title %}Liste des clients{% endblock %}

{% block body %}
<main id="main" class="main">
    <h1>Liste des clients</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom prénom</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Avatar</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
            <tr>
                <td>
                <a href="{{ path('app_customers_show', {'id': customer.id}) }}">
                    {{ customer.fullName }}
                </a>
                </td>
                <td>{{ customer.email }}</td>
                <td>{{ customer.phone }}</td>
                <td>{{ customer.avatar }}</td>
                <td>
                    <a href="{{ path('app_customers_show', {'id': customer.id}) }}" class="btn btn-primary">voir</a>
                    <a href="{{ path('app_customers_edit', {'id': customer.id}) }}" class="btn btn-success">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include "components/_pagination.html.twig" %}

    <a href="{{ path('app_customers_new') }}" class="btn btn-primary">Nouveau utilisateur</a>
<main/>
{% endblock %}
