{% extends "base.html.twig" %}

{% block title 'Listes des clients' %}


{% block body %}

    <div class="pagetitle">
      <h1>Profile</h1>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">

            <!-- Card with an image on top -->
          <div class="card">
            {# <img src="{{ vich_uploader_asset(customer, "imageFile") }} class="card-img-top"" alt="avatar"> #}
             {% if customer.avatar %}
                <img src="{{ vich_uploader_asset(customer, "imageFile") }}" width="300" height="300" class="card-img-top" alt="avatar">
                {% else %}
                 <img src="https://api.lorem.space/image/movie?w=150&h=220" width="300" height="300" class="card-img-top" alt="avatar">
                {% endif %} 
            <div class="card-body">
              <h5 class="card-title">{{customer.firstName }} {{customer.lastName}}</h5>
             
            </div>
          </div><!-- End Card with an image on top -->
        </div>

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Info profil</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                </li>

              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  
                  <h5 class="card-title">Profile Details</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Prénom</div>
                    <div class="col-lg-9 col-md-8">{{customer.firstName}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Nom</div>
                    <div class="col-lg-9 col-md-8">{{customer.lastName}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Adresse</div>
                    <div class="col-lg-9 col-md-8">{{customer.address}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Code Postal</div>
                    <div class="col-lg-9 col-md-8">{{customer.zipCode}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Téléphone</div>
                    <div class="col-lg-9 col-md-8">{{customer.phone}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Email</div>
                    <div class="col-lg-9 col-md-8">{{customer.email}}</div>
                  </div>

                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                  <!-- Profile Edit Form -->
                  {{form_start(form, {'enctype' :"multipart/form-data"})}}
                    <div class="row mb-3">
                      <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                      <div class="col-md-8 col-lg-9">
                        {# <img src="assets/img/profile-img.jpg" alt="Profile"> #}
                        {{form_row(form.imageFile)}}
                        {# <div class="pt-2">
                          <a href="#" class="btn btn-primary btn-sm" title="Upload new profile image"><i class="bi bi-upload"></i></a>
                          <a href="#" class="btn btn-danger btn-sm" title="Remove my profile image"><i class="bi bi-trash"></i></a>
                        </div> #}
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Full Name</label>
                      <div class="col-md-8 col-lg-9">
                        {{form_row(form.firstName)}}
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="company" class="col-md-4 col-lg-3 col-form-label">Company</label>
                      <div class="col-md-8 col-lg-9">
                        {{form_row(form.lastName)}}
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Job" class="col-md-4 col-lg-3 col-form-label">Job</label>
                      <div class="col-md-8 col-lg-9">
                        {{form_row(form.address)}}
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Country" class="col-md-4 col-lg-3 col-form-label">Country</label>
                      <div class="col-md-8 col-lg-9">
                        {{form_row(form.zipCode)}}
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Address" class="col-md-4 col-lg-3 col-form-label">Tel</label>
                      <div class="col-md-8 col-lg-9">
                        {{form_row(form.phone)}}
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Phone" class="col-md-4 col-lg-3 col-form-label">Email</label>
                      <div class="col-md-8 col-lg-9">
                        {{form_row(form.email)}}
                      </div>
                    </div>


                    <div class="text-center">
                      {{form_row(form.submit)}}
                    </div>
                 {{form_end(form)}}
                </div>

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>

{% endblock %}