<div class="col-xxl-3 col-md-4">
    <div class="card">
        <div class="card-body">
        <h5 class="card-title"></h5>
        {% if this.customers.avatar %}
            <img class="card-img-top" src="{{ vich_uploader_asset(this.customers, "imageFile") | imagine_filter('profile') }}" width="250" height="300" alt="Avatar">
        {% else %}
            <img src="https://api.lorem.space/image/movie?w=150&h=220" width="250" height="300" class="card-img-top" alt="avatar">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">
                <a href="{{path('app_client_show', {'id': this.id })}}">
                    {{this.customers.firstName}} {{this.customers.lastName}}
                </a>
            </h5>
            <a href="{{path('app_client_show', {'id': this.id })}}" class="btn btn-outline-primary">Info rendez-vous</a>
        </div>
        </div>
    </div>
</div>